[Unit]
Description=Valheim service
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
KillSignal=SIGINT
Group=root
WorkingDirectory=/home/Valheim/
#ExecStart=/home/Valheim/valheim_server.x86_64 -name "My server name" -port 2456 -world "My world name" -password "server_password" -savedir /home/Valheim/saved
ExecStart=/home/ValheimGH/Valheim/start_Valheim.sh

[Install]
WantedBy=multi-user.target